/.project
/.pydevproject
*.pyc
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp
.settings/
/build/
/dist
/src/fileformats-*/dist
/docs/build
/docs/source/_build
.pytest_cache/
/.history
.env
__pycache__
.vscode
*.egg-info
~*
*.venv
_version.py
